*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.txt

.env
.env.local
.env.*.local

vendor/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea/
*.iml

*~
*.swp
*.swo
\#*#

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

threadtalk-backend
main
server