# This is for local development
version: '3.8'

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:

services:
  db:
    image: postgres:16-alpine
    container_name: threadtalk_postgres_db
    restart: always
    
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    ports:
      - "5432:5432"
    
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      
    networks:
      - app_network

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      target: local
      dockerfile: Dockerfile
    
    container_name: threadtalk_api
    restart: always
    
    ports:
      - "${PORT}:${PORT}"
    
    depends_on:
      db:
        condition: service_healthy
      
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: ${PORT}
      FRONTEND_URL: ${FRONTEND_URL}
      BACKEND_URL: ${BACKEND_URL}

    networks:
      - app_network