# This is for development
version: '3.8'

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:

services:
  db:
    image: postgres:16-alpine
    container_name: threadtalk_postgres_db
    restart: always
    
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    ports:
      - "5432:5432"
    
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      
    networks:
      - app_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    
    container_name: threadtalk_api
    restart: always
    
    ports:
      - "${PORT}:${PORT}"
    
    depends_on:
      - db
      
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
      PORT: ${PORT}
      FRONTEND_URL: ${FRONTEND_URL}
      BACKEND_URL: ${BACKEND_URL}

    networks:
      - app_network